<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="69b199">  <td>16/06/05 02:16:25</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TagsInterceptorTest.initialize()[pri:0, instance:com.epam.flume.TagsInterceptorTest@d8355a8]">initialize</td> 
  <td>main@1694556038</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>16/06/05 02:16:25</td>   <td>-190</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TagsInterceptorTest.setup()[pri:0, instance:com.epam.flume.TagsInterceptorTest@d8355a8]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1694556038</td>   <td></td> </tr>
</table>
